insmod iso9660
insmod part_msdos
insmod part_gpt
insmod fat
insmod efi_gop
insmod efi_uga
set timeout=10
set default=0
search --no-floppy --file --set=root /boot/vmlinuz-linux

menuentry "Liska Linux" {
    linux /boot/vmlinuz-linux rw console=tty1 loglevel=3 audit=0 quiet cow_spacesize=2G
    initrd /boot/initramfs-liska.img
}

if [ -f /EFI/memtest/memtest86.efi ]; then
    menuentry "Memtest86+ Utility" {
        search --no-floppy --file --set=root /EFI/memtest/memtest86.efi
        chainloader /EFI/memtest/memtest86.efi
    }
fi

menuentry "UEFI Firmware Settings" --class efi {
    fwsetup
}
